body {
	margin: auto;
	background-color: #FFFFFF;
	font-family: sans-serif;
}

p {
	text-align: center;
	color: #FF0000;
}

.center {
	margin: auto;
	/* border: 3px solid yellow; */
	text-align: center;
	
}

#gameStage{
	margin: auto;
	border: 0px;
	padding: 0px;
	width: 720px;
	height: 480px;
}